$color1: rgb(40, 99, 117);
$color2: rgb(0, 60, 255);
$color3: rgb(26, 64, 121);
$color4: rgb(0, 217, 255);
$color5: rgb(245, 255, 101);
$color6: rgb(255, 123, 0);
$color7: rgb(252, 86, 64);
$color8: rgb(115, 218, 89);
$color9: rgb(46, 94, 109);
$color10: rgb(37, 76, 121);
$color11: rgb(51, 80, 112);
$color12: rgb(255, 217, 0);

