$color1: #1da1f2;
$color2: #1769ff;
$color3: #3b5998;
$color4: #1ab7ea;
$color5: #fffc00;
$color6: #fd5c63;
$color7: #ff9900;
$color8: #a4c639;
$color9: #f48024;
$color10: #dd4814;
$color11: #4078c0;
$color12: #f7df1e;
$color13: #bcbbbb;


